.my-gutter [class*="col-"] {
    padding: 0.5rem;
}

.sticky {
    position: sticky;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    align-items: center;
    background-color: rgba(249, 249, 249, 1);
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.header {
    padding: 0rem 1.2rem;
    position: sticky;
    top: 0px;
    width: calc(100% - 2.4rem);
    z-index: 20000;

    h1 {
        margin: 0px;
    }
}

.footer {

    padding: 0.75rem 1.2rem;
    width: calc(100% - 2.4rem);
    height: 100%;
    bottom: 0px;

    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 14px;
    }
}

.info-block {
    background: var(--info-block-bg);
    border-radius: 28px;
    padding: 1.2rem;
    /* width: calc(100% - 1.4rem); */
}

.answer-wraper {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.answer-wraper .answer-item {
    margin: 8px 0px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    padding-bottom: 5px;
}

.answer-wraper .answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 34px);
}

.max-w-90 {
    max-width: 90%;
}

.max-w-98 {
    max-width: 98%;
}

.test-adv-block {
    border-radius: 28px;
}

.bg-gradient-light {
    background: linear-gradient(0.25turn, rgba(195, 233, 86, 0.2), rgba(31, 75, 44, 0.2));
}

.bg-gradient-main {
    background: linear-gradient(0.25turn, var(--secondary-color), var(--secondary-color-dark));
}

/* Cards for all tests */
.test-cards-wrapper-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 20px;
}

@media (max-width: 915px) {
    .test-cards-wrapper-categories {
        grid-template-columns: 1fr 1fr !important;
        padding: 20px 0px !important;
    }
}

@media (max-width: 850px) {
    .test-cards-wrapper-categories {
        grid-template-columns: 1fr 1fr !important;
        padding: 20px !important;
    }
}

@media (max-width: 575px) {
    .test-cards-wrapper-categories {
        grid-template-columns: 1fr !important;
    }
}
/* Cards for main page */
.test-cards-wrapper {
    position: relative;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 0px 20px;
}

.test-cards-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

/* Базовый вариант – 1 карточка на экран (мобильный) */
.test-card-outer {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 10px 0.7rem;
    margin: 7px 0px;
}

/* Средние экраны – 2 карточки */
@media (min-width: 768px) {
    .test-card-outer {
        flex: 0 0 50%;
    }
}

/* Большие экраны – 3 карточки */
@media (min-width: 1200px) {
    .test-card-outer {
        flex: 0 0 33.3333%;
    }
}

/* (опционально) дизейбл для стрелок */
.rounded-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}

@media (max-width: 768px) {
    .info-block {
        margin-right: 1.5rem;
    }
}

.test-card {
    height: 100%;
    align-content: start;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    background-color: rgba(248, 248, 248, 1);
}

.test-card .image-test-01 {
    min-width: 120px;
    min-height: 100px;
    background-size: cover;
}

.test-card .test-price {
    font-size: 14px;
    font-weight: 600;
}

.test-card p {
    font-size: 14px;
}

.test-card .img-card {
    position: relative;
}

.test-card .img-card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.test-card .img-card .time-block {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 6px;
    font-size: 9px;
    padding: 0.18rem 0.313rem;
    display: flex;
    align-items: center;
}

.test-card .img-card .time-block img {
    margin-right: 2px;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.progress .progress-bar {
    background: rgba(31, 75, 44, 1);
    border-radius: 8px;
    max-height: 4px;
    min-height: 4px;
    border: 4px solid rgba(249, 249, 249, 1);
}

.progress .progress-all {
    background: var(--secondary-color);
    border-radius: 8px;
    max-height: 4px;
    min-height: 4px;
    border: 4px solid rgba(249, 249, 249, 1);
}

.result-text {
    font-size: 14px;

}

.marg-with-decor {
    margin-left: 3%;
}

@media screen and (min-width: 1200px) {
    .with-column {
        column-count: 2 !important;
    }

    .decor-side {
        display: flex !important;
    }

    .container-with-decor {
        margin-left: 25% !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .marg-with-decor {
        margin-left: 20% !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 1199px) {
    .with-column {
        column-count: 1;
    }

}

@media (max-width: 767px) {

    .marg-with-decor {
        margin-left: 0px !important;
    }

    .contaner-with-decor {
        justify-content: center;
    }
}

.min-height-25vw {
    min-height: 25vw;
}

.decor-side {
    background: linear-gradient(0.25turn, var(--secondary-color), var(--secondary-color-dark));
    display: none;
    width: calc(25% - 120px);
    margin-right: 120px;
}

.container-with-decor {
    margin-left: 0px;
}

.logo-top {
    width: 120px;
    height: 50px;
    background-image: url(/images/02-v-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.p-0-20 {
    padding: 0px 20px;
}

.lang-select {
    position: relative;
    width: auto;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}

.lang-select-current {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    transition: 0.2s;
}

.lang-select-current:hover {
    border-color: #888;
}

.lang-select-options,
.lang-select-options-mob {
    display: none;
    position: absolute;
    width: 100%;
    background: var(--primary-color-text);
    overflow: hidden;
    animation: fadeIn .15s ease;
    z-index: 999;
}

.desktop-lang .lang-select-options {
    top: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.mobile-lang .lang-select-options {
    bottom: 100% !important;
}

.lang-option {
    padding: 8px 14px;
    transition: background .15s;
}

.lang-option:hover {
    background: #f0f0f01c;
}

.lang-select.open .lang-select-options.open,
.lang-select.open .lang-select-options-mob,
.lang-select-options.open {
    display: block;
    min-width: 110px;
}
.mobile-lang .lang-select-options.open {
    display: block;
    min-width: 110px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-404 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 5rem;
    background: var(--primary-color-text);
    display: flex;
    align-items: center;
    justify-content: center;
}