.my-gutter [class*="col-"] {
    padding: 0.5rem;
}

.sticky {
    position: sticky;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    align-items: center;
    background-color: rgba(249, 249, 249, 1);
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.header {
    padding: 0rem 1.2rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 9998;

    h1 {
        margin: 0px;
    }
}

.footer {

    padding: 0.75rem 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0px;

    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 14px;
    }
}

.info-block {
    background: var(--info-block-bg);
    border-radius: 28px;
    padding: 1.2rem;
    /* width: calc(100% - 1.4rem); */
}

.answer-wraper {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.answer-wraper .answer-item {
    margin: 8px 0px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    padding-bottom: 5px;
}

.answer-wraper .answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 34px);
}

.max-w-90 {
    max-width: 90%;
}

.max-w-98 {
    max-width: 98%;
}

.test-adv-block {
    border-radius: 28px;
}

.bg-gradient-light {
    background: linear-gradient(0.25turn, rgba(195, 233, 86, 0.2), rgba(31, 75, 44, 0.2));
}

.bg-gradient-main {
    background: linear-gradient(0.25turn, var(--secondary-color), var(--secondary-color-dark));
}

/* (опционально) дизейбл для стрелок */
.rounded-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}

@media (max-width: 768px) {
    .info-block {
        margin-right: 1.5rem;
    }
}

.test-card {
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 12px 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    background-color: rgba(248, 248, 248, 1);
}

.test-card .test-price {
    font-size: 14px;
    font-weight: 600;
}

.test-card p {
    font-size: 14px;
}

.test-card .img-card {
    position: relative;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}


.test-card .img-card .time-block {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 6px;
    font-size: 9px;
    padding: 0.18rem 0.313rem;
    display: flex;
    align-items: center;
}

.test-card .img-card .time-block .time-block-time {
    margin-right: 2px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: unset;
    height: unset;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.progress .progress-bar {
    background: rgba(31, 75, 44, 1);
    border-radius: 8px;
    max-height: 4px;
    min-height: 4px;
    border: 4px solid rgba(249, 249, 249, 1);
}

.progress .progress-all {
    background: var(--secondary-color);
    border-radius: 8px;
    max-height: 4px;
    min-height: 4px;
    border: 4px solid rgba(249, 249, 249, 1);
}

.result-text {
    font-size: 14px;

}


@media screen and (min-width: 1200px) {
    .with-column {
        column-count: 2 !important;
    }

    .decor-side {
        display: flex !important;
    }

    .container-with-decor {
        margin-left: 25% !important;
    }

}


.min-height-25vw {
    min-height: 25vw;
}

.container-with-decor {
    margin-left: 0px;
}

.logo-top {
    width: 120px;
    height: 50px;
    background-image: url(/images/02-v-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.p-0-20 {
    padding: 0px 20px;
}

.lang-select {
    position: relative;
    width: auto;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}

.lang-select-current {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    transition: 0.2s;
}

.lang-select-current:hover {
    border-color: #888;
}

.lang-select-options,
.lang-select-options-mob {
    display: none;
    position: absolute;
    width: 100%;
    background: var(--primary-color-text);
    overflow: hidden;
    animation: fadeIn .15s ease;
    z-index: 999;
}

.desktop-lang .lang-select-options {
    top: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.mobile-lang .lang-select-options {
    bottom: 100% !important;
}

.lang-option {
    padding: 8px 14px;
    transition: background .15s;
}

.lang-option:hover {
    background: #f0f0f01c;
}

.lang-select.open .lang-select-options.open,
.lang-select.open .lang-select-options-mob,
.lang-select-options.open {
    display: block;
    min-width: 110px;
}

.mobile-lang .lang-select-options.open {
    display: block;
    min-width: 110px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-404 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 5rem;
    background: var(--primary-color-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-table,
.types-table,
.tests-table {
    border-collapse: collapse;
}

.admin-table thead,
.types-table thead,
.tests-table thead {
    background: var(--primary-color-text);
    color: var(--primary-color);
    border-collapse: collapse;
}

.admin-table td,
.types-table td,
.tests-table td {
    border: 1px solid black;
    text-align: left;
    padding: 4px 8px;
}

.admin-table td:last-child,
.admin-table thead tr th:last-child {
    max-width: 70px;
    width: 70px;
    text-align: center;
}

.types-table td:last-child,
.types-table thead tr th:last-child,
.tests-table td:last-child,
.tests-table thead tr th:last-child {
    max-width: 110px;
    width: 110px;
    text-align: center;
}

.types-table td:first-child,
.types-table thead tr th:first-child {
    max-width: 170px;
    width: 170px;
    text-align: center;
}

.tests-table td:first-child,
.tests-table thead tr th:first-child {
    max-width: 230px;
    width: 230px;
    text-align: center;
}

.admin-table thead tr th,
.types-table thead tr th,
.tests-table thead tr th {
    padding: 8px;
}

.admin-table .checkbox-label {
    max-width: 22px;
    width: 22px;
    margin: auto;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 14px;
    max-width: 100vw;
    padding-left: 12px;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 100%;
    padding-top: 12px;
}

@media (max-width: 639px) {
    .test-card .img-card img {
        height: auto;
    }

    .carousel-item {
        max-width: calc(100vw - 60px);
    }

    .test-page-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* планшеты */
@media (min-width: 640px) {
    .carousel-item {
        flex: 0 0 45%;
    }

    .test-card .img-card img {
        height: 252px;
    }

    .test-page-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* десктоп */
@media (min-width: 1024px) {
    .carousel-item {
        flex: 0 0 32.3%;
    }

    .test-page-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* широкие */
@media (min-width: 1980px) {
    .carousel-item {
        flex: 0 0 24.3%;
    }

    .test-page-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.test-card .img-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.test-card section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 200px 60px;
}

.test-page-grid {
    display: grid;
    gap: 1em;
    padding-left: 12px;
}