/* Primeflex library
Grid system https://primeflex.org/gridsystem
Width  https://primeflex.org/width

Class	Description
sm:	small screens e.g. phones
md:	medium screens e.g. tablets
lg:	large screens e.g. notebooks
xl:	larger screens e.g monitors
 */
@import 'styles/primeflex/primeflex.css';
@import 'styles/variables/base.css';
@import 'styles/containers/base.css';
@import 'styles/buttons/base.css';
@import 'styles/forms//base.css';
@import 'styles/navbar/custom.css';
@import 'styles/popup/base-popup.css';
@import 'styles/elements/base.css';


body {
  font-family: 'Inter', sans-serif;
  margin: 0px !important;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--primary-color-text) !important;
  overflow-x: hidden;
}
#root {
  background-color: var(--primary-color) !important;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  overflow: auto !important;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
